<div class="container" align="center">
    <div class="box">
	    <h3>Angles Handle</h3>
	    <a ng-click="setPage('About')" title="Show info about Angles Handle Project">About</a>
	    <a ng-click="setPage('Contact')" title="Contact with us">Contact</a>
	</div>
	<div class="box">
	    <h3>Handle the Angles</h3>
	    <a ng-click="showAngularRepositories()" title="Show all Angular Repositories">Angular Repositories</a>
	    <a ng-click="setView('angularContributors')" title="Show Angular Repos Contributors">Angular Repos Contributors</a>
	    <a ng-click="showAngularOrganizationInfo()" title="Show info about the Angular Organization">Angular Organization Info</a>
	</div>
	<div class="box">
	    <h3>Contact</h3>
	    <span style="font-weight:bold;">AbreSolutions Aleksander Bejma</span>
	    <span style="font-weight:bold;"><a href="mailto:office@abresolutions.com" title="Send an e-mail to the AbreSolutions Company">office@abresolutions.com</a></span>
	    <a href="http://www.abresolutions.com" target="_blank" title="Go to the AbreSolutions Website">www.abresolutions.com</a><br>
	    <a href="http://www.facebook.com/AbreSolutions" target="_blank" title="Go to the AbreSolutions Facebook Profile">facebook.com/AbreSolutions</a>
	</div>
</div>